/* DM Sans and Inter */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@400;500;700&display=swap');
/* font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; */

/* 
1. Position
2. Box model 
3. Typography
4. Visual
5. Other
*/


:root {
    /* Colors */
    --linear-BG: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-plus-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}