/* DM Sans and Inter */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@400;500;700&display=swap');
/* font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; */

/* 
1. Position
2. Box model 
3. Typography
4. Visual
5. Other
*/

/* NOTE 
*/

:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-plus-1: #282623;
    --grey: #BABABA;
    --dark-grey: #757575;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
/* 1. Position */
/*<--- HEADER --------------------------------------------------------------------->*/
.header {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header .action {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header .action .action__figure .action__img {
    transform: rotate(90deg);
}


/*<--- MAIN ----------------------------------------------------------------------->*/
.main .main__section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main .main__section .currencyandfees {
    display: flex;
}

.main .main__section .currencyandfees .currencyandfees__arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .main__section .currencyandfees .currencyandfees--left {
    justify-content: flex-start;
}

.main .main__section .currencyandfees .currencyandfees__arrow .currencyandfees--left {
    transform: rotate(180deg);
}

.main .main__section .currencyandfees .currencyandfees__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__updated {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: center;
}

.main .main__section .main--shorter {
    position: absolute;
}

.main .main__section .main__titleandtext {
    display: flex;
    flex-direction: column;
}

.main .main__section .pros {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.main .main__section .main--absolute {
    position: absolute;
}

/* 2. Box model  */
/*<--- HEADER --------------------------------------------------------------------->*/
.header {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 34px;
    padding-bottom: 40px;
}

.header .header__figure .header__img {
    width: 128.57px;
    height: 24.01px;
    box-sizing: border-box;
}

.header .action {
    width: 229px;
    height: 48px;
    padding: 15px 16px;
    gap: 15px;
    box-sizing: border-box;
    top: calc(100% - 24px);
}

.header .action .action__figure {
    width: 7px;
    height: 12px;
    margin: 0;
}
.header .action .action__figure .action__img {
    width: 100%;
    height: 100%;
}

/*<--- MAIN ----------------------------------------------------------------------->*/
.main {
    /* padding: 0 10px; */
}
.main .main__section {
    padding: 60px 10px;
    box-sizing: border-box;
    gap: 30px;
}

.main .main--moregap {
    gap: 32px;
}

.main  .main--notpadding {
    padding: 0;
}

.main .main__section .main__figure {
    width: 195px;
    height: 195px;
}

.main .main__section .main__figure .main__img {
    width: 100%;
    height: 100%;
}

.main .main__section .currencyandfees {
    width: 235px;
}

.main .main__section .currencyandfees .currencyandfees__arrow {
    width: 22.5px;
}

.main .main__section .currencyandfees .currencyandfees__arrow .currencyandfees__img {
    width: 9px;
    height: 11.41px;
}

.main .main__section .currencyandfees .currencyandfees__card {
    width: 190px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__title {
    margin-left: 8px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee {
    padding: 6px 8px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee .currencyandfees__trenddirection {
    width: 12px;
    height: 12px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee .currencyandfees__trend {
    width: 100%;
    height: 100%;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__updated {
    padding: 6px;
    gap: 10px;
}

.main .main__section .main--shorter {
    width: 40.57px;
    height: 24px;
    top: calc(100% - 12px);
    z-index: 1;
}

.main .main__section .main--shorter .main__img {
    width: 100%;
    height: 100%;
}

.main .main--lesspaddingbottom {
    padding-bottom: 46px;
}

.main .main__section .main__titleandtext {
    gap: 24px;
}

.main .main__section .pros {
    gap: 16px;
}

.main .main__section .pros .pros__card {
    width: 268px;
    padding: 16px;
}

.main .main__section .pros .pros__card .pros__figure {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.main .main__section .pros .pros__card .pros__figure .pros__img {
    width: 100%;
    height: 100%;
}

.main .main__section .main--longer {
    width: 100%;
    height: 387px;
}

.main .main__section .main--absolute {
    top: 65px;
}


/* 3. Typography */
/*<--- HEADER --------------------------------------------------------------------->*/
.header .header__title {
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
}

.header .header__text {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}

.header .action .action__text {
    font-weight: 700;
    font-size: 1.4rem;
}

/*<--- MAIN ----------------------------------------------------------------------->*/
.main .main__section .main__title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}

.main .main__section .main__text {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__title {
    font-size: 1.8rem;
    font-weight: 700;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container{
    font-family: 'Inter';
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee .currencyandfees__name {
    font-size: 1.6rem;
    font-weight: 500;   
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee .currencyandfees__price {
    font-size: 1.4rem;
    font-weight: 400;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__updated {
    font-family: 'Inter';
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__updated .currencyandfees__subtitle {
    font-size: 1.2rem;
    font-weight: 700;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__updated .currencyandfees__text {
    font-size: 1.2rem;
}


.main .main__section .pros .pros__card .pros__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.main .main__section .pros .pros__card .pros__text {
    font-size: 1.4rem;
    font-weight: 500;
}

/* 4. Visual */
/*<--- HEADER --------------------------------------------------------------------->*/
.header {
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header .header__title {
    color: var(--just-white);
}

.header .header__text {
    color: var(--soft-orange);
}

.header .action {
    background: var(--off-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    z-index: 1;
}

.header .action .action__text {
    color: var(--warm-black);
}

/*<--- MAIN ----------------------------------------------------------------------->*/
.main {
    background: var(--just-white);
}

.main .main__section {
    background: inherit;
}

.main .main--warmblack {
    background: var(--warm-black);
}

.main .main__section .main__title {
    color: var(--warm-black);
}

.main .main__section .main__text {
    color: var(--dark-grey);
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__title {
    color: var(--bitcoin-orange);
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees--blue {
    color: var(--secondary-blue)
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container {
    background: #E5E5E54F;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee .currencyandfees__name {
    color: #B5B0AC;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container .currencyandfees__coinfee .currencyandfees__price {
    color: #757575;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__updated {
    background: var(--soft-orange);
    border-radius: 8px;
}

.main .main__section .currencyandfees .currencyandfees__card .currencyandfees--backblue {
    background: var(--soft-blue);
}

.main .main__section .main--shorter {
    z-index: 1;
}

.main .main__section .main__titleandtext .main--whitetitle {
    color: var(--just-white);
}

.main .main__section .main__titleandtext .main__text {
    color: #808080;
}

.main .main__section .pros .pros__card {
    background: var(--warm-black-plus-1);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.main .main__section .pros .pros__card .pros__title {
    color: var(--just-white);
}

.main .main__section .pros .pros__card .pros__text {
    color: #808080;
}

.main .main__section .main--titlewhite {
    color: var(--just-white);
}

/* 5. Other */
.header .action {
    cursor: pointer;
}

/*<--- MAIN ----------------------------------------------------------------------->*/
.main .main__section .currencyandfees .currencyandfees__card .currencyandfees__container {
    border-radius: 4px;
}

.main .main__section .currencyandfees .currencyandfees__arrow .currencyandfees__img {
    cursor: pointer;
}


.hidden {
    display: none !important;
}
